* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.aem {
    min-width: 300px;
    background-color: #241405;
    padding: 10px;
}

.aem-container {
    width: 100%;
    border: 2px solid #ff7619;
    border-radius: 5px;
}

.aem-title {
    color: #ffe0ca;
    display: flex;
    justify-content: center;
    margin: 10px 10px 0;
    padding: 10px 10px 20px;
    border-bottom: 1px solid #ffe0ca;
}

.aem-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
    padding: 0 10px;
}

.aem-content_title {
    display: flex;
    color: #ffe0ca;
    padding: 10px 0 0;
}

.aem-content_button-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px 0;
}

.aem-content_button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 36px;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #ff7619;
    border-radius: 5px;
    font-weight: 400;
}

.aem-content_button:hover {
    color: #ffffff;
    background-color: #ff7619;
}
